@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 9px;
    scroll-behavior: smooth;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    font-family: sans-serif;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: Times New Roman;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
    text-decoration: none;
}

.cta:hover {
    color: white;
    background-color: crimson;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand a {
    text-decoration: none;
}

.brand h1 span {
    color: crimson;
}

/* Header Section */

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: linear-gradient(60deg, #c3c3c4 0%, #485563 100%);
    transition: .3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;  
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left; 
}

#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    margin-top: 20px;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: crimson;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

#header .hamburger::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: hamburger_plus 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px ;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

/* End Header Section */


/* Hero Section */

#hero {
    background-image: linear-gradient(60deg, #c3c3c4 0%, #485563 100%);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
}
#hero h1 {
    font-family: sans-serif;
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
    
}

#hero .hello {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: crimson;
    
    font-family: lobster;
    
}

#hero h2 {
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: white;
    font-family: sans-serif;
    
}

#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    color: crimson;    
}

/* End Hero Section */

/* About Section */

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0px;
}

#about .col-left {
    width: 250px;
    height: 260px;
}

#about .col-right {
    width: 100%;
}

#about .col-right .title2 {
    font-size: 20px;
    font-family: sans-serif;
}

#about .col-right .under {
    font-size: 22px;
    font-family: sans-serif;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 5px;
    margin-top: 10px;
}

#about .col-right .skills {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

#about .col-right p {
    margin-bottom: 30px;
    font-family: sans-serif;
}

#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    height: 100%;
    width: 70%;
    position: relative;
    border: 10px solid white;
    margin-top: 40px;
}

label {
    font-size: 8px;
    color: #474343;
    font-weight: bold;
    font-family: sans-serif;
    background-color: rgb(231, 229, 229);
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

/* End About Section */

/* Projects Section */

#projects .projects {
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    
}

#projects .project-top {
    max-width: 500px;
    margin: 0 auto;
}

#projects .project-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
}


#projects .project-item {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background-size: cover;
    background-position: center;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-family: sans-serif
}

#projects .project-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#projects .projects .title {
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 300;
    color: black;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

#projects .project-bottom .icon {
    height: 250px;
    width: 250px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#projects .icon1{
    border: 20px solid rgb(184, 184, 184);
    border-radius: 10px;
}

#projects .icon2{
    border: 20px solid black;
    border-radius: 10px;
}

#projects .icon3{
    border: 20px solid crimson;
    border-radius: 10px;
}

#projects .icon4{
    border: 20px solid rgb(220, 127, 20);
    border-radius: 10px;
}

#projects .icon5{
    border: 20px solid rgb(29, 70, 255);
    border-radius: 10px;
}

#projects .icon6{
    border: 20px solid rgb(24, 119, 72);
    border-radius: 10px;
}

#projects .project-item h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 35px;
    font-family: sans-serif;
    font-weight: 500;
}

#projects .project-item a {
    text-decoration: none;
    color: crimson;
    font-size: 17px;

}

/* End projects Section */

/* Contact Section */

#contact .contact {
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}

#contact .contact-items {
    width: 400px;
    width: 60%;
}

#contact .contact h2 {
    font-size: 20px;
}

#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    font-family: sans-serif;
}


#contact .icon {
    width: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact .title2 {
    font-size: 20px;
    font-family: sans-serif;
    
}

#contact .contact .under {
    font-size: 22px;
    font-family: sans-serif;
    margin-top: 20px;
    display: inline-block;
    flex-direction: row;
    font-weight: 500;
    letter-spacing: .2rem;
}

#contact .contact img {
    width: 50px;
    display: inline-block;
    flex-direction: row;
}

#contact .contact .emoji {
    width: 30px;
}

#contact .contact-info h2 {
    font-size: 1.5rem;
    font-family: sans-serif;
    line-height: 2rem;
    font-weight: 500;
}

#contact .contact-info a {
    text-decoration: none;
    color: black;
}

/* End Contact Section */

/* Footer */

#footer .footer {
    min-height:  200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer p {
    color: black;
    font-size: 15px;
}

/* End Footer */

/* Media Query For Moblie */

@media only screen and (min-width: 399px) {
    label {
        font-size: 12px;
    }

    #about .col-left .about-img {
        padding: auto;
        margin: 10px auto;
    }

    .cta {
        margin-top: 40px;
    }

}
 

/* Media Query For Mobile */


/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
.cta {
    font-size: 1.5rem;
    padding: 10px 30px;
}

.brand h1 {
    font-size: 4rem;
    text-decoration: none;
}

h1.title {
    font-size: 3rem;
}

/* Hero Section */

#hero h1 {
    font-size: 5rem;
}



/* End Hero Section */

/* Project Section */

#projects .project-bottom .project-item {
    flex-basis: 35%;
    margin: 1%;
}

#projects .project-item h2 {
    font-size: 20px;
}


/* End Project Section */

/* About Section */

#about .about {
    flex-direction: row;
    margin-bottom: 100px;
}

#about .col-left {
    width: 600px;
    height: 300px;
    padding-left: 60px;
}


#about .col-right {
    text-align: left;
    padding: 30px;
}

#about .col-right h1 {
    text-align: left;
}

label {
    text-align: left;
    font-size: 13px;
}

/* End About Section */

/* Contact Section */ 

#contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}

#contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

#contact .contact-item {
    margin: 20px;
    flex-direction: row;
}

#contact .contact-item .icon {
    height: 100px;
    width: 50px;
}



#contact .contact-item .icon img {
    object-fit: contain;
}

#contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    color: black;
}

#contact .contact-items .contact-item {
    flex-basis: 25%;
    margin: 1%;
}

/* End Contact Section */

}

/* End Media Query For Tablet */


/* Media Query For Desktop */

@media only screen and (min-width: 1200px) {

    /* Header Section */

    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.8rem;
    }

    #header .nav-list ul a::after {
        display: none;
    }
    /* End Header Section */

    /* Services Section */

    #projects .project-bottom .project-item {
        flex-basis: 23%;
        margin: 1.2%;
    }

    #about .about {
        margin-top: 0;
    }

    #about .col-left .about-img {
        height: 120%;
        width: 90%;
    }

    label {
        text-align: left;
    }


    /* End Services Section */
    
}

/* End Media Query For Desktop */




/* Keyframes */
@keyframes hamburger_plus {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_name {
    100% {
        color: crimson;
        font-weight: 500px;
    }

}

/* End Keyframes */